@import "tailwindcss";
.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
}

.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
}

.prose li::marker {
  color: #fb923c; /* optional: orange markers to match theme */
}
